.heading_title {
        font-size: 18px;
}

.projectcard {
        box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
        padding: 3em;    
        background: rgba(255,255,255,0.1);
        /* background: blue; */
        /* color: white; */
}
.projectcard h2 {
        font-size: 17px;
        /* background-color: blue; */
        color: rgba(255,255,255,0.7);
        padding: 5px;
        text-align: center;
        /* border-bottom: 1px solid white; */
        /* line-height: 3; */
        text-transform: uppercase;
        background-image: none;
        background-image: none;
}
.projectcard p {
        font-size: 18px;
}
.projectcard p span{
        display: block;
}
.projectcard a {
        border-radius: 50px !important;
        margin-top: 25px;
        /* background: cyan; */
        width: 100%;
        color: black;
        font-weight: bolder;
        text-align: center;
        letter-spacing: 2px;
        word-spacing: 2px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif !important;    
        font-size: 13px !important;
    
}
.projectcard a:hover {
        margin-top: 15px;
        background: none;
        border: 1px solid cyan;
        color: cyan;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-weight: 700;
    
}