.projectcard {
        box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
        padding: 3em;
        /* background: blue; */
        /* color: white; */
}
.projectcard h2 {
        font-size: 18px;
        /* background-color: blue; */
        /* color: white; */
        padding: 5px;
        text-align: center;
        /* border-bottom: 1px solid white; */
        /* line-height: 3; */
        text-transform: uppercase;
}
.projectcard p {
        font-size: 18px;
}
.projectcard p span{
        display: block;
}
.projectcard a {
        border-radius: 0 !important;
        margin-top: 25px;
        background: blue;
        width: 100%;
        color: white;
        text-align: center;
        letter-spacing: 2px;
        word-spacing: 2px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif !important;
    
}
.projectcard a:hover {
        margin-top: 15px;
        background: none;
        border: 1px solid blue;
        color: blue;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-weight: 700;
    
}