@import url("https://fonts.googleapis.com/css2?family=Genos:wght@100&family=Titillium+Web:wght@200&display=swap");

.skill_conatiner {
        background: #fff;
  /* background: -webkit-linear-gradient(to right, #605c3c, #3c3b3f); */
  /* overflow-x:hidden; */
  height: 450px;
}
@media only screen and (max-width: 600px) {
  .skill_conatiner {
    height: 500px;
    }
}
/* Skills section */
.skills-section {
  width: 100%; 
  /* height: 100%; */
  margin: 0 auto;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
  background: #fff;
}

h1.text-skills {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 12rem;
  filter: opacity(0.4);
  text-align: center;
  color: #49274a;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.skills-section img {
  width: 40%;
  margin: 0 auto;
  background: transparent;
  animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
  -webkit-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
  -o-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
/* End of Skills Section */

/* Mobile devices Styling */
@media screen and (max-width: 1300px) {
  .skills-section {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1024px) {
   h1.text-skills {
    font-size: 16rem;
    opacity: 0.9;
  }
} 

@media screen and (max-width: 768px){ 
   h1.text-skills {
    font-size: 7rem;
  }
}

@media screen and (max-width: 480px) {
  .skills-section img {
    width: 60%;
  }
  
   h1.text-skills {
    font-size: 6rem;
  }
}

@media screen and (max-width: 360px) {
   h1.text-skills {
    font-size: 5rem;
  }
}
